<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="UTF-8">
    <title>Task Center</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div id="body" v-cloak>
    <div class="container mt20">
        <h4 class="mt5 mb5 text-center">{{title}}</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td v-for="row in columns">{{row.title}}</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="row in data">
                    <td>{{row.name ? row.name : "--"}}</td>
                    <td>{{row.progress ? row.progress : "--"}}%</td>
                    <td>{{row.taskLevel ? row.taskLevel : "--"}}</td>
                    <td>{{row.createTime ? row.createTime : "--"}}</td>
                    <td>{{row.updateTime ? row.updateTime : "--"}}</td>
                    <td>{{row.finishTime ? row.finishTime : "--"}}</td>
                    <td>{{row.taskDescription ? row.taskDescription : "--"}}</td>
                    <td>
                        <button class="btn btn-success" @click="finished(row)">{{finished}}</button>
                        <button class="btn btn-danger" @click="deleted(row)">{{deleted}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/business.js"></script>
</body>
</html>