body {
    background: #FDFDFD;
}

[v-cloak] {
    display: none;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.table > thead > tr {
    background: #f5f5f5;
    font-size: 1.3em;
}

.table > tbody > tr > td {
    height: 42px !important;
    line-height: 42px !important;
    padding: 0 0 0 8px !important;
    text-overflow: ellipsis;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
}

.table > tbody > tr > td > button {
    margin: 4px 5px 4px 0;
    float: left;
}